@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

:root {
  /* --primary-- */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* --neutral-- */
  --dblue: hsl(234, 12%, 34%);
  --grayblue: hsl(229, 6%, 66%);
  --lgray: hsl(0, 0%, 98%);
}

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  background-color: var(--lgray);
}

.container {
  width: 85%;
  margin: 5rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  margin-bottom: 50px;
}

header .header-title {
  text-align: center;
  font-size: 1.5rem;
}

header .header-title-1 {
  font-weight: 200;
  margin-bottom: 10px;
}

header .header-title-2 {
  margin-bottom: 30px;
}

header .desc {
  text-align: center;
  color: var(--dblue);
  line-height: 20px;
}

.card {
  padding: 30px;
  background-color: #fff;
  margin-top: 22px;
  -webkit-box-shadow: 0 12px 20px rgba(76, 78, 97, 0.2);
          box-shadow: 0 12px 20px rgba(76, 78, 97, 0.2);
  border-radius: 4px;
}

.card-1 {
  border-top: 4px solid var(--cyan);
}

.card-2 {
  border-top: 4px solid var(--red);
}

.card-3 {
  border-top: 4px solid var(--orange);
}

.card-4 {
  border-top: 4px solid var(--blue);
}

.card-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.card-descrip {
  font-size: .9rem;
  line-height: 25px;
  color: var(--dblue);
}

.card-icon {
  width: 64px;
  margin: 40px 0 0 auto;
}

@media all and (min-width: 1240px) {
  /* i dont have 1440px monitor or higher */
  .container {
    width: 80%;
  }
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 374px minmax(3rem, 1fr) 374px minmax(3rem, 1fr) 374px;
        grid-template-columns: 374px minmax(3rem, 1fr) 374px minmax(3rem, 1fr) 374px;
    gap: 20px;
  }
  header {
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2 / 5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  header .header-title {
    font-size: 2rem;
  }
  header .header-title-1 {
    margin-bottom: 15px;
  }
  header .desc {
    font-size: 1rem;
    line-height: 25px;
  }
  main {
    width: 90%;
    margin: 0 auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1 / 6;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (364px)[4];
        grid-template-columns: repeat(4, 364px);
    gap: 30px;
  }
  main .card {
    margin-top: 0;
  }
  main .card-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
  main .card-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  main .card-3 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    grid-row: 3 / 5;
  }
  main .card-4 {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2 / 4;
  }
}
/*# sourceMappingURL=style.css.map */